
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/nav_Layout.cshtml";
    int brojac = 1;
}

@model AutoSalon.Web.Areas.Iznajmljivanje.ViewModels.IzvjestajiIndexVM;

<div class="panel panel-default">
    <div class="panel-heading">
        Izvještaji
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_length" id="dataTables-example_length">



                        <div id="dataTables-example_filter" class="dataTables_filter" style="width:max-content">
                            <label>Pretraga(naziv):   <input type="search" id="txtIzvjestajiPretraga" class="form-control input-sm" placeholder=""></label>
                            <a id="btnIzvjestajiPretraga" href="#" class="btn btn-primary">Pretraži</a>
                            <a href="/Iznajmljivanje/Izvjestaji/Dodaj" class="btn btn-success">Dodaj izvještaj</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <br />
                        <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline collapsed" id="dataTables-example" role="grid" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th>Rbr.</th>
                                    <th>Naziv</th>
                                    <th>Datum</th>
                                    <th>Napomena</th>
                                    <th>Akcija</th>
</thead>
                            <tbody>
                                @foreach (var x in Model.rows)
                                {
                                    <tr>
                                        <th scope="row">@(brojac++)</th>
                                        <td>@x.Naziv</td>
                                        <td>@x.Datum</td>
                                        <td>@x.Napomena</td>
                                        <td>
                                            <a class="btn btn-warning" href="/Iznajmljivanje/Izvjestaji/Uredi/@x.IzvjestajID">Detalji</a>
                                            <a class="btn btn-danger" href="/Iznajmljivanje/Izvjestaji/Obrisi/@x.IzvjestajID">Obriši</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">

                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
    </div>
</div>



